<section id="profile" class="container">
    <div class="row mt-5">
      <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
        </div>
        <div class="row user-details">
          <div class="col-12">
            <img src="{{cliente.photoURL}}" class="rounded-circle img-thumbnail" alt="profile">
            <h5 *ngIf="providerId === 'password'">{{cliente.displayName}}</h5>
            <br>
            <p>
              {{cliente.email}}
              {{clienteRecuperado.torre}}
            </p>
            <button (click)="agregarDatos()" class= "btn btn-success">
              Agregar Datos
            </button>
            <div *ngIf="editarCliente">
              <form (ngSubmit)="addClientes()">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese su nombre..."  [(ngModel)]="clienteEdit.nombre">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" class="form-control" id="apellido" placeholder="Ingrese su apellido...." [(ngModel)]="clienteEdit.apellido">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="edad">Edad</label>
                    <input type="number" name="edad" class="form-control" id="edad" placeholder="Ingrese su edad..." [(ngModel)]="clienteEdit.edad">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="identificacion">Identificacion</label>
                <input type="text" name="identificacion" class="form-control" id="identificacion"  placeholder="Ingrese su numero de identificacion..."[(ngModel)]="clienteEdit.identificacion">
                  </div>
                </div>
                <div class="form-group">
                  <label for="direccion">Direccion</label>
                  <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion.." [(ngModel)]="clienteEdit.direccion">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="torre">Torre</label>
                    <input type="number" class="form-control" id="torre" name="torre" [(ngModel)]="clienteEdit.torre">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="apartamento">Apartamento</label>
                    <input type="number" class="form-control" id="apartamento" name="apartamento" [(ngModel)]="clienteEdit.apartamento">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12 center" >
                    <label for="propietario">Propietario/Arrendatario</label>
                    <select id="propietario" class="form-control">
                      <option selected>Choose...</option>
                      <option>propietario</option>
                      <option>Arrendatario</option>
                    </select>
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
            <hr>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </section>
