<p>cliente-formulario works!</p>

<form  (ngSubmit)="addClientes()">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="nombre"  [(ngModel)]="cliente.nombre">
    <small id="nombre" class="form-text text-muted">Ingrese su nombre porfavor.</small>
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" class="form-control" id="apellido" [(ngModel)]="cliente.apellido">
    <small id="apellido" class="form-text text-muted">Ingrese su apellido.</small>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" id="email" [(ngModel)]="cliente.email">
    <small id="email" class="form-text text-muted">Ingrese su email porfavor.</small>
  </div>
  <div class="form-group">
    <label for="edad">Edad</label>
    <input type="number" name="edad" class="form-control" id="edad" [(ngModel)]="cliente.edad">
    <small id="edad" class="form-text text-muted">Ingrese su edad porfavor.</small>
  </div>
  <div class="form-group">
    <label for="identificacion">Identificacion</label>
    <input type="text" name="identificacion" class="form-control" id="identificacion" [(ngModel)]="cliente.identificacion">
    <small id="nombre" class="form-text text-muted">Ingrese su identificacion porfavor.</small>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>

<!--</form>
<form (ngSubmit)="addClientes()">
 <input type="text" name="nombre" [(ngModel)]="cliente.nombre">
 <input type="text" name="apellido" [(ngModel)]="cliente.apellido">
 <input type="number" name="edad" [(ngModel)]="cliente.edad" step="1">
 <input type="text" name="identificacion" [(ngModel)]="cliente.identificacion">
 <input type="text" name="email" [(ngModel)]="cliente.email">
 <!--<input type="checkbox" [checked]="cliente.propietario" (change)="checkedDone(index)" />
 <button type ="submit">
   Guardar
 </button>
</form>-->
